[Unit]
Description=USB Scanner Service

[Service]
ExecStart=/home/administrator/usb-virus-scanner/usb_scanner.py
User=administrator
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/<YourUsername>/.Xauthority
Restart=on-failure

[Install]
WantedBy=default.target
